<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeCrmTestCases">
	<listeners>
		<listener class-name="utilities.ExtentReportManager"></listener>
	</listeners>
  <test thread-count="5" name="OrangeCrm">
    <classes>
      <!-- <class name="testCases.EmpCreationPage"/>-->
      <class name="testCases.EmpCreationPagewithJSON"/>
      <class name="testCases.LoginPage"></class>
        
    </classes>
  </test> <!-- OrangeCrm -->
</suite> <!-- OrangeCrmTestCases -->
